body {
	border: 3px solid #e7e8e9;
}

h1 {
	background: url('../img/title.gif') repeat-x 0 100%;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 6px;
}

h1 span {
	padding-right: 8px;
	background: #ffffff;
}

h2 {
	background: url('../img/title.gif') repeat-x 0 100%;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 6px;
}

h2 span {
	padding-right: 8px;
	background: #ffffff;
}

h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 6px;
}

h1, h2, h3 {
	line-height: 24px;
}

div.container {
	background: #ffffff;
}

#header {
	margin-bottom: 2px;
	padding: 0;
	height: 246px;
	background: url('../img/header.jpg') no-repeat 1px 100%;
}

.logo {
	padding: 40px 20px 0 20px;
}

#other-menu {
	margin-top: 20px;
}

#other-menu li {
	margin: 0;
	padding: 0;
	list-style: none outside none;
	float: left;
	margin-right: 24px;
	width: 12px;
	height: 11px;
}

#other-menu li a {
	display: block;
	padding-top: 11px;
	width: 12px;
	height: 0;
	overflow: hidden;
	background: url('../img/other-menu.gif') no-repeat 0 0;
}

#other-menu li.item2 a {
	background-position: 0 -11px
}

#other-menu li.item3 a {
	background-position: 0 -22px
}

.contacts {
	line-height: 17px;
	padding: 20px 20px 0 0;
}

.contacts p {
	margin: 0;
	text-align: right;
}

.phone {
	font-size: 26px;
	color: #0e72c6;
}

.phone span {
	font-size: 12px;
	color: #191919;
}

.menu {
	padding: 20px 0 20px 1px;
}

li.collapsed ul {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    padding: 5px;
    display: none;
}

.sideblock div.title {
	padding: 1px 15px 0;
	min-height: 20px;
	background: #7fe1ff;
	background: -moz-linear-gradient(top, #005394, #7fe1ff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#005394), color-stop(100%,#7fe1ff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #005394, #7fe1ff);
    background: -o-linear-gradient(top, #005394, #7fe1ff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #005394, #7fe1ff); /* IE10 */
    background: linear-gradient(top, #005394, #7fe1ff); /* CSS3 */ 
	color: #fff;
}

.sideblock div.content {
	padding: 15px;
}

ul.menu {
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
}

ul.menu li {
	padding-left: 10px;
}

ul.menu li a {
	font-weight: bold;
}

ul.menu ul li {
	font-weight: normal;
}

ul.menu li.expanded {
	background: url(../img/menu-expand.gif) no-repeat 0 5px;
}

ul.menu li.collapsed {
    background: url(../img/menu-expand.gif) no-repeat 0 5px;
}

.maincontent {
	padding: 20px;
}

.prefooter {
	margin-top: 5px;
	height: 6px;
	background: #d9d9d9;
	text-align: right;
}

.prefooter div{
	height: 6px;
	background: #1c8ad2; 
	width: 292px; 
}

.footer {
	padding: 20px;
}

.footer .copy {
	padding: 0 20px 0 0;
}

ul.bottom-menu {
	margin: 0 0 0 20px;
	list-style: none;
}

ul.bottom-menu li {
	float: left;
	padding: 0 0;
}

ul.bottom-menu li a {
	padding: 0 15px;
	border-right: 1px solid #d9d9d9;
}

ul.bottom-menu li:last-child a {
	border-right: 0;
}

.counters {
	margin-top: 10px;
	padding: 0;
}

.cool-man-container {
	text-align: right;
}

#cool-man {
	position: relative;
	top: 75px;
	left: 180px;
	width: 283px;
	height: 220px;
	background: url('../img/cool-man.png') no-repeat 0 0;
}

.community {
	text-align: center;
}

.content-block {
	padding-bottom: 20px;
}

.news-lenta {
	line-height: 16px;
}

.news-lenta p {
	margin: 0;
	line-height: 16px;
}

.news-lenta p.date {
	color: #838383;
	font-size: 11px;
}

.news-lenta p.title {
	padding-bottom: 7px
}

.partners {
	margin: 5px 0 0;
}

.partners p {
	margin: 0 0 15px;
	font-size: 18pt;
	color: #8b8b8b
}

.partners ul {
	margin: 0; padding: 0;
	width: 100%;
	overflow: hidden
}

.partners li {
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
	height: 28px;
	list-style: none;
}

ul.catalog-contents {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}

ul.catalog-contents li {
	border: solid 1px #d0d0d0;
	margin: 5px 7px 5px 0;
	height: 160px;
	width: 146px;
	text-align: center;
	float:left;
	padding: 0 4px;
	line-height: 16px;
}

ul.catalog-contents img {
	width: 128px;
	height: 96px;
}

ul.catalog-contents2 {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}

ul.catalog-contents2 li {
	border: solid 1px #d0d0d0;
	margin: 5px 7px 5px 0;
	height: 222px;
	width: 146px;
	text-align: center;
	float:left;
	padding: 0 4px;
	line-height: 16px;
}

ul.catalog-contents2 img {
	width: 128px;
	height: 96px;
}

ul.catalog-product {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}

ul.catalog-product li {
	border: solid 1px #d0d0d0;
	margin: 5px 7px 5px 0;
	height: 180px;
	width: 146px;
	text-align: center;
	float:left;
	padding: 0 4px;
	line-height: 16px;
}

ul.catalog-product img {
	width: 128px;
	height: 96px;
}

.breadcrumb {
	padding: 4px 10px 4px 0;
	margin: 0 0 5px;
	list-style: none;
	font-size: 11px;
	background-color: transparent;
}

.breadcrumb > .active {
	color: #999999;
}
.breadcrumb > li {
	display: inline-block;
	text-shadow: 0 1px 0 #ffffff;
	line-height: 20px;
}

p.buttons {
	text-align: center;
}

p.buttons div {
	margin-bottom: 5px;
}

input.search-query {
	padding-right: 4px;
	padding-right: 4px 9;
	padding-left: 4px;
	padding-left: 4px 9;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 14px;
	width: 71%;
}

.inner-content p {
	text-align: justify;
}

.inner-content table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #a4d0e0;
	border-collapse: separate;
	border-left: 0;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	background-color: #ffffff;
}

.inner-content table th,
.inner-content table td {
  padding: 4px 5px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #a4d0e0;
  border-left: 1px solid #a4d0e0;
}

.inner-content table th {
  font-weight: bold;
}

.inner-content table thead th {
  vertical-align: bottom;
}

.inner-content table caption + thead tr:first-child th,
.inner-content table caption + thead tr:first-child td,
.inner-content table colgroup + thead tr:first-child th,
.inner-content table colgroup + thead tr:first-child td,
.inner-content table thead:first-child tr:first-child th,
.inner-content table thead:first-child tr:first-child td {
  border-top: 0;
}

.inner-content table tbody + tbody {
  border-top: 2px solid #a4d0e0;
}

.inner-content table caption + thead tr:first-child th,
.inner-content table caption + tbody tr:first-child th,
.inner-content table caption + tbody tr:first-child td,
.inner-content table colgroup + thead tr:first-child th,
.inner-content table colgroup + tbody tr:first-child th,
.inner-content table colgroup + tbody tr:first-child td,
.inner-content table thead:first-child tr:first-child th,
.inner-content table tbody:first-child tr:first-child th,
.inner-content table tbody:first-child tr:first-child td {
  border-top: 0;
}

.inner-content table thead:first-child tr:first-child > th:first-child,
.inner-content table tbody:first-child tr:first-child > td:first-child {
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
}

.inner-content table thead:first-child tr:first-child > th:last-child,
.inner-content table tbody:first-child tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
}

.inner-content table thead:last-child tr:last-child > th:first-child,
.inner-content table tbody:last-child tr:last-child > td:first-child,
.inner-content table tfoot:last-child tr:last-child > td:first-child {
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
}

.inner-content table thead:last-child tr:last-child > th:last-child,
.inner-content table tbody:last-child tr:last-child > td:last-child,
.inner-content table tfoot:last-child tr:last-child > td:last-child {
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
}

.inner-content table tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.inner-content table tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.inner-content table caption + thead tr:first-child th:first-child,
.inner-content table caption + tbody tr:first-child td:first-child,
.inner-content table colgroup + thead tr:first-child th:first-child,
.inner-content table colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
}

.inner-content table caption + thead tr:first-child th:last-child,
.inner-content table caption + tbody tr:first-child td:last-child,
.inner-content table colgroup + thead tr:first-child th:last-child,
.inner-content table colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
}

.inner-content table tbody > tr:nth-child(odd) > td,
.inner-content table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9fd;
}

.inner-content th, 
.inner-content td {
  padding: 4px 5px;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 26px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.form-required {
	color: #f00;
	font-size: 16px;
}

.map_links { width: 1%; }
.map_links a { width: auto; display: block; margin: 0 0 3px 0; white-space: nowrap; }
.map_sub_links {     margin: 0 0 10px 20px; }
.map_sub_links a { margin: 0 0 7px 0; }

.news-date {
	font-size: 11px;
	color: #999;
}

.news-text {
	padding-bottom: 10px;
}

span.analog {
	color: #ee0000; 
}

div.analog {
	font-size: 18px;
	padding-top: 10px;
	color: #ee0000; 
}

div.analog span {
	color: #191919;
}

.producer {
	font-size: 16px;
	padding-top: 20px;
}

.producer span {
	color: #191919;
}

#galleria{height:360px}

.repair-title {
    color: #de8a27;
    font-size: 24px;
    line-height: 40px;
}

.repair-container{
    width: 600px;
}

.repair-text-container .texts {
    position: relative;
}

.repair-text-container .text {
    font-weight: bold;
    line-height: 15px;
    text-align: left;
    position: absolute;
}

.repair-text-container .text1 {
    left: 30px;
    top: -385px;
}

.repair-text-container .text2 {
    left: 200px;
    top: -385px;
}

.repair-text-container .text3 {
    text-align: right;
    left: 370px;
    top: -385px;
}

.repair-text-container .text4 {
    left: 30px;
    top: -123px;
}

.repair-text-container .text5 {
    left: 190px;
    top: -91px;
}

.repair-text-container .text6 {
    text-align: right;
    left: 320px;
    top: -94px;
}

.repair-text-container .text7 {
    text-align: right;
    left: 433px;
    top: -141px;
}

.configurator-link {
    padding-left: 100px;
    margin: 20px 0;
}

.configurator-link2 {
    margin: 20px 0;
}

.configurator-container .feed a {
    padding: 3px;
    text-align: center;
    width: 150px;
    display: inline-block;
    border: 2px solid #d0d0d0;
}

.configurator-container .feed a.active {
    border: 2px solid #de8a27;
}

.configurator-title {
    color: #de8a27;
    font-size: 24px;
    line-height: 40px;
}

.feed-title  {
    padding-top: 10px;
    font-size: 18px;
    line-height: 26px;
}

.detail .title  {
    padding-top: 10px;
    font-size: 18px;
    line-height: 26px;
}

.detail .radio  {
    line-height: 23px;
    font-size: 14px;
}

.detail .checkbox  {
    line-height: 23px;
    font-size: 14px;
}

.update {
    color: #de8a27;
    font-size: 16px;
    line-height: 30px;
}

.blink {
    text-decoration: blink;
}


.catalog-wide .row-fluid {
    border: 1px solid #e1e1e1;
}

.catalog-wide .name {
    font-size: 16px;
}

.catalog-wide .analog {
    margin:0;
    padding-top: 0;
    font-size: 14px;
}

.catalog-wide .producer {
    margin:0;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
}

.catalog-wide .preview {
    margin:0;
}

.catalog-wide .links a {
    display: block;
    margin: 5px;
}
